@{
    var username = System.Web.HttpContext.Current.Session["Username"].ToString();
}
@model FTV.DAL.Models.UserModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InGameName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InGameName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Home", null, new { @class = "btn btn-secondary" })
    @if (Model.UserName == username)
    {
        @Html.ActionLink("Edit", "Edit", null, new { @class = "btn btn-primary" })
    }
</p>
