@{
    var username = HttpContext.Current.Session["Username"].ToString();
    var userId = Int32.Parse(HttpContext.Current.Session["Id"].ToString());
}
@model FTV.DAL.Models.UserModel

@{
    ViewBag.Title = "Details";
}

<section class="my-5">
    <div class="row d-flex">
        <div class="mx-auto text-center">
            <img src="https://picsum.photos/300/300/?random" class="img-fluid rounded-circle" alt="Sample image">

            <h2 class="mt-5 text-uppercase">@Model.UserName</h2>
            <p>My name is @Model.FirstName @Model.LastName</p>

            @if (!Model.InGameName.IsEmpty())
            {
                <p>
                    IGN: @Model.InGameName
                </p>
            }
            <p>
                @Html.ActionLink("Back to List", "Index", "Home", null, new {@class = "btn btn-secondary"})
                @if (Model.UserName == username)
                {
                    @Html.ActionLink("Edit", "Edit", null, new {@class = "btn btn-primary"})
                }
            </p>
        </div>
    </div>
</section>

<section class="my-5 bg-dark p-3 rounded">
    <div class="d-flex">
        <div class="mx-auto d-flex">
            <h5 class="text-center">Followed Players</h5>
            @if (Model.UserName == username)
            {
                @Html.ActionLink("Add Player", "Create", "FollowedPlayer", new { id = Model.Id }, new {@class = "btn  btn-outline-primary ml-3" })
            }
        </div>
    </div>
    @if (Model.FollowedPlayers.Count == 0 )
    {
        <p class="text-center mt-2">No Followed Players</p>
    }
    <div class="row d-flex text-center">
        @foreach (var fp in Model.FollowedPlayers)
        {
            <div class="col-md-3 col-sm-5 mx-auto my-3">
                <div class="card bg-light text-primary text-center p-1">
                    <blockquote class="blockquote mb-0">
                        <p>
                            @fp.InGameName
                            <br class="my-2"/>
                            @if (Model.Id == userId)
                            {
                                @Html.ActionLink("X", "Delete", "FollowedPlayer", new {id = fp.Id}, new {@class = "btn btn-sm btn-outline-warning rounded"})
                            }
                        </p>
                    </blockquote>
                </div>
            </div>
        }
    </div>
</section>


<section class="bg-dark d-flex">
    <div class="mx-auto">
        @if (!Model.InGameName.IsEmpty())
        {
            <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
        }
        else
        {
            <p>
                Add IGN to display data
            </p>
        }
    </div>
</section>

<section class="my-5">
    <div class="row mx-auto">
        <div class="col-md-8">
            <h5>Comments</h5>
            
            @if (Model.UserName != username)
            {
                @Html.ActionLink("Add Comment", "Create", "Comment", new {id = Model.Id}, new {@class = "btn btn-sm btn-primary"})
            }
            <ul class="list-unstyled">
                @if (Model.Comments.Count == 0)
                {
                    <p class="text-center mt-2">No Comments</p>
                }
                @foreach (var comment in Model.Comments)
                {
                    <li class="media my-4" onclick="location.href = '@(Url.Action("Details", "Account", new {id = comment.UserId}))'">
                        <img class="mr-3" src="https://picsum.photos/64/64/?random" alt="Generic placeholder image">
                        <div class="media-body">
                            <p class="mt-0 mb-1">User ID: @comment.UserId</p>
                            @comment.Body
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>