<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FTV</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawChart);

        function rand(num) {
            return Math.floor(Math.random() * num) * (Math.floor(Math.random() + 2));
        }

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Matches', 'Kills', 'Score', 'Top1'],
                ['1', rand(10), rand(40), rand(2)],
                ['2', rand(11), rand(30), rand(1)],
                ['3', rand(14), rand(60), rand(5)],
                ['4', rand(3), rand(20), rand(3)]
            ]);

            var options = {
                chart: {
                    title: 'Player Performance',
                    subtitle: 'Matches per week'
                }
            };

            var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

            chart.draw(data, options);
        }
    </script>


</head>
<body>
<header>
    @Html.Partial("_NavbarPartial")
</header>

<main class="container my-5 body-content">
        @RenderBody()
</main>

@Html.Partial("_FooterPartial")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>